.search {
  display: flex;
  flex-direction: column;
  width: 70%;
  min-width: 500px;
  max-width: 700px;
  pointer-events: none;
  z-index: 1;

  justify-content: flex-end;
  input {
    pointer-events: all;
    border-radius: 0.8rem;
    border: none;
    padding: 1.4rem 2rem;
    font-size: 1.6rem;
    width: 100%;
    &:focus {
      outline: none;
    }
    &:hover {
      box-shadow: 0 0 12pt 2pt rgba(12, 111, 192, 0.842);
    }
  }
}
.searchWrapper {
  position: relative;
}
.searchIcon {
  cursor: pointer;
  position: absolute;
  right: 2rem;
  color: var(--background-contrast);
  width: 30px;
  top: 50%;
  transform: translateY(-50%);
}
