* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--main-black);
  color: white;
  font-family: Roboto;
}
h1 {
  font-size: 4rem;
  line-height: 6rem;
}

h3 {
  font-size: 2rem;
  line-height: 6rem;
}
:root {
  --main-black: #141414;
  --hero-text-color: #fff;
  --input-color: #e4d8c0;
  --character-name-color: #efefef;

  --input-button-color: #313131;
  --background-gray: #ededed;
  --white-background: #faf9f9;
  --white: #fff;
  --text-grey: #696969;
  --text-grey-2: #5c5c5c;
  --error: #ff6767f1;
  --success: #4afa67;
}
