.characterResults {
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.characterImage {
  img {
    max-width: 200px;
    max-height: 200px;
  }
}
.search {
  cursor: pointer;
}
