* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-width: fit-content;
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
  font-family: Roboto;
  color:  var(--hero-text-color);
}

:root {
  --background-color: #060e18;
  --background-contrast: #0b1a2c;
  --details: #00c3ff;
  --main-black: #303030;
  --hero-text-color: rgb(240, 240, 240);
  --input-color: #e4d8c0;
  --character-name-color: #f3f3f3;

  --input-button-color: #313131;
  --background-gray: #ededed;
  --white-background: #faf9f9;
  --white: #fff;
  --text-grey: #696969;
  --text-grey-2: #5c5c5c;
}



h1 {
  font-size: 3.2rem;
  line-height: 4.8rem;
  font-weight: 600;

}

h3 {
  font-size: 2rem;
  font-weight: 400;

}
@media screen and (max-width: 1080px) {
  h1 {
    font-size: calc(2.2rem + 1vw);
    line-height: 4.8rem;
    font-weight: 600;
  }

  h3 {
    font-size: calc(1rem + 1vw);
    font-weight: 400;
  }
}
@font-face {
  font-family: "AlpabeRunesChmc-axB5R.";
  src: url("/fonts/AlpabeRunesChmc-axB5R.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "AlpabeRunesChmc-axB5R.";
  src: url("/fonts/ArigatouGozaimasu-1Gnqg.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
