.navBar {
  background-color: var(--background-color);
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 5rem;
  .logo {
    font-size: 2.4rem;
    font-weight: 600;
    flex: 2;
    font-family: "Poppins";
    background-clip: text;
    background: -webkit-linear-gradient(
      93deg,
      rgba(0, 99, 255, 1) 0%,
      rgba(0, 155, 250, 1) 15%,
      rgba(0, 255, 243, 1) 40%,
      rgba(0, 236, 244, 1) 60%,
      rgba(0, 155, 250, 1) 85%,
      rgba(0, 99, 255, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .navItens {
    flex: 1;
    display: flex;
    list-style: none;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.8rem;
    font-weight: 600;
    @media screen and (max-width: 700px) {
      width: 100%;
      flex-direction: column;
      min-height: 30vh;
      position: absolute;
      top: 7.5rem;
      left: -100%;
      opacity: 0;
      transition: all 0.5s ease;
      flex-direction: column;
       }
    
    .bar {
     
      background-clip: text;
      background: -webkit-linear-gradient(
        93deg,
        rgb(17, 35, 66) 0%,
        rgba(10, 125, 187, 1) 15%,
        rgba(93, 202, 242, 1) 40%,
        rgba(93, 202, 242, 1) 60%,
        rgba(10, 125, 187, 1) 85%,
        rgba(17, 35, 66, 1) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin: 1rem;
      font-family: "Roboto";
      font-weight: 600;
      @media screen and (max-width: 700px) {
        display: none;
      }
    }
    li {  
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: skew(-20deg);
      
      font-family: "Roboto";
      @media screen and (max-width: 700px) {
        padding: 2rem 0;
      }

      .anim {
        // transition: all 1s linear;
        z-index: 90;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        letter-spacing: 1px;
        width: 7rem;
        p.active {
          width: 100%;   
        } 
        @media screen and (max-width: 700px) {
          width: 15rem;
                  }
        p{
          color: lightcyan;
          transition: all 0.2s ease-in-out;
          z-index: -1;
          display: flex;
          align-items: center;
          justify-content: center;
          top: 0;
          left: 0;
          width: 0;
          padding: 0.7rem 0;
          background: rgb(14, 30, 58);
          background: linear-gradient(
            93deg,
            rgb(17, 35, 66) 0%,
            rgba(10, 125, 187, 1) 15%,
            rgba(93, 202, 242, 1) 40%,
            rgba(93, 202, 242, 1) 60%,
            rgba(10, 125, 187, 1) 85%,
            rgba(17, 35, 66, 1) 100%
          );
          &:hover{
            width: 100%;
          }
        }
      }
    }
  }
}

.mobileMenu {
  display: none;
  @media screen and (max-width: 700px) {
    display: block;
    cursor: pointer;
  } 
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background: var(--details);
  margin: 6px 0;
  transition: 0.4s;
}

.change.bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change.bar2 {opacity: 0;}

.change.bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
} 
.activated.navItens {
  background: var(--background-color);
  left: 0;
  opacity: 1;
  transition: all 0.5s ease;
  align-content: center;
  padding-left: 0px;
  z-index: 999;

  }
 
  // .anim.active {
  //   color: yellow !important;
  //   &::before {
  //     width: 100%;

  //   }
  // } 